*.pickle
*.snakemake*
*__pycache__*
*logging*
*DS_Store*
*run_apps/spliceAI/*
tmp/*
input/*
output/*
*scheduler.o*
*lirical.log
*sub_logfiles*
dependencies/*
data/*
src/workflow/config.yaml
!dependencies/conda_environment.yml
!data/Homo_sapiens_gene_info.tsv
!data/moi.csv
!data/template.yaml
!data/HPO_with_gene_IC.csv
!data/hpoa_frequencies.json
example/case/*
!example/case/example.json
!example/case/example.pheno.csv
!example/case/example.vcf.gz
!example/case/example.ped
example/cohort/*
!example/cohort/example1.json
!example/cohort/example1.ped
!example/cohort/example1.pheno.csv
!example/cohort/example1.vcf.gz
!example/cohort/example2.json
!example/cohort/example2.ped
!example/cohort/example2.pheno.csv
!example/cohort/example2.vcf.gz
!example_diagnostic.csv
.vscode
miniconda.sh
miniconda3
dependencies/annovar
*.pytest*