*.pickle
*.snakemake*
*__pycache__*
*logging*
*DS_Store*
*run_apps/spliceAI/*
tmp/*
input/*
output/*
*scheduler.o*
*lirical.log
*sub_logfiles*
dependencies/*
data/*
!dependencies/annovar
!*/dependencies/annotate_variation.pl
!dependencies/conda_environment.yml
!data/Homo_sapiens_gene_info.tsv
!data/moi.csv
!data/template.yaml
example/case/*
!example/case/example.json
!example/case/example.pheno.tsv
example/cohort/*
!example/cohort/example1.json
!example/cohort/example1.pheno.tsv
!example/cohort/example2.json
!example/cohort/example2.pheno.tsv
.vscode